@font-face{
    font-family: "pop";
    src: url("/fonts/Poppins-Regular.ttf");
}
@font-face{
    font-family: "rob";
    src: url("/fonts/Roboto-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: pop;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header img{
    width: 120px;
}
#menu-bar{
    display: none;
}
header label{
    font-size: 30px;
    color: seagreen;
    cursor: pointer;
    display: none;
}
header .navbar ul{
    list-style: none;
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    color: #1c1ca1;
    font-size: 15px;
    padding: 5px 15px;
    display: block;
}
header .navbar ul li a:hover{
    background: #333;
    color: #fff;
    border-radius: 7px;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 190px;
    background: #fff ;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
header .navbar ul li:hover > ul{
    display: initial;
}
.slider{
    width: 98vw;
    height: 80vh;
    border-radius: 10px;
    margin: 80px 0 15px 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    background-size: cover;
    background-position: center;
}
.slides input{
    display: none;
}
.slide-one{
    width: 20%;
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.603)), url(/Screenshot_20230522-200305.png);
    background-size: cover;
    background-position: center;
    transition: 2s;
    text-align: center;
    padding: 50px;
}
.slide-one h2{
    color: #1c1ca1;
    padding: 20px 0 20px 0;
}
.slide-one p{
    color:  #fff;
    padding: 10px 0 20px 0;
}
.slide-one button{
    background: #1c1ca1;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
}
.slide-one button a{
    color: #fff;
}
.slide-two{
    width: 20%;
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.603)), url(/Screenshot_20230522-200158.png);
    background-size: cover;
    background-position: center;
    transition: 2s;
    text-align: center;
    padding: 50px;
}
.slide-two h2{
    color: #1c1ca1;
    padding: 20px 0 20px 0;
}
.slide-two p{
    color: #fff;
    padding: 10px;
    padding: 10px 0 30px 0;
}
.slide-two h3{
    padding: 20px;
    color: #1c1ca1;
    background: rgba(245, 245, 245, 0.664);
}
.slide-three{
    width: 20%;
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.603)), url(/Screenshot_20230522-200127.png);
    background-size: cover;
    background-position: center;
    transition: 2s;
    text-align: center;
    padding: 50px;
}
.slide-three h1{
    padding: 10px 0 20px 0;
    color: #1c1ca1;
}
.slide-three p{
    color: #fff;
    padding: 10px 0 40px 0;
}
.navigation-manual{
    position: absolute;
    width: 500px;
    margin-top: -40px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
} 
.manual-btn{
    border: 2px solid #fff;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;  
    transition: 1s;
    
} 
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: seagreen;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: -125px;
    margin-left: 140px;
}
.navigation-auto div{
    border: 2px solid #fff;
    padding: 3px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: seagreen;
}
#radio2:checked ~ .navigation-auto .auto-btn1{
    background: seagreen;
}
#radio4:checked ~ .navigation-auto .auto-btn1{
    background: seagreen;
}
.discover{
    height: calc(60vh - 60px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #0fa34fe3;
    color: #fff;
    font-size: 2.5rem;
    font-family: rob;
}
.partners{
    padding: 20px 0 20px 50px;
}
.car{
    width: 90vw;
}
.partners h2{
    color: #1c1ca1;
}
.pat{
    margin-left: 90px;
}
.partners img{
    margin-right: 10px;
}
.partners .more{
    text-align: center;
    color: #0fa34fe3;
}
.consult{
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 10px 30px;
    font-size: 0.8rem;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    text-align: center;
}
.home-group{
    display: flex;
    color: #1c1ca1;
}
.sub-group{
    padding: 20px;
    width: 30vw;
    text-align: center;
}
.sub-group h4{
    font-size: 1rem;
    padding: 10px 0 10px 0 ;
}
.coperate{
    height: calc(100vh - 60px);
    display: flex;
    padding: 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #0fa34fe3;
    color: #fff;
    font-family: rob;
}
.coperate img{
    margin:0 0 -100px -500px;
}
.coperate h2{
    font-size: 2rem;
}
.coperate p{
    font-size: 1.5rem;
    width: 70%;
    padding: 20px 0 0 0;
}
.coperate button{
    font-size: 1rem;
    width: 20%;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 7px;
}
.coperate button a{
    text-decoration: none;
    color: #1c1ca1;
}
.about{
    display: flex;
}
.about img{
    width: 40vw;
    height: 70vh;
    margin: 20px 50px 20px 20px;
}
.about h3{
    color: #1c1ca1;
}
.about h2{
    color: #0fa34fe3;
}
.about p{
    font-size: 0.8rem;
    padding: 10px 0 0 0;
}
.about button{
    background: #0fa34fe3;
    padding: 7px;
    width: 100px;
    border: none;
    border-radius: 3px;
}
.about button a{
    text-decoration: none;
    color: #f7dc6f;
}
.about .do{
    width: 50vw;
    margin: 20px 0 0 0;
}
.do span{
    color: #f7dc6f;
}
.service{
    width: 98%;
    height: auto;
    padding: 40px;
    margin: 20px 0 0 12px;
    font-size: 20px;
    font-family: rob;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    z-index: -1;
}
.service .serve{
    text-align: center;
}
.service h3{
    color: #1c1ca1;
}
.service h2{
    color: #0fa34fe3;
    padding: 10px 0 0px 0;
}
.service #serve{
    font-size: 1rem;
    width: 80vw;
}
.service-group{
    display: flex;
}
.insured-one{
    display: flex;
    width: 50vw;
    margin: 40px 20px 0 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)),url(/istockphoto-1156574440-612x612.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.insured-two{
    display: flex;
    width: 50vw;
    margin: 40px 20px 0 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)),url(/istockphoto-1180387704-612x612.jpg);
    background-position: center;
    background-size: cover;
}
.insured-three{
    display: flex;
    width: 50vw;
    margin: 40px 20px 0 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)),url(/istockphoto-1199059338-612x612.jpg);
    background-position: center;
    background-size: cover;
}
.insured-four{
    display: flex;
    width: 50vw;
    margin: 40px 20px 0 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.568)),url(/istockphoto-1199060494-612x612.jpg);
    background-position: center;
    background-size: cover;
}
.sub-insured{
    width: 25vw;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
}
.sub-insured h4{
    color: #f7dc6f;
    padding: 10px;
}
.sub-insured p{
    font-size: 1rem;
    padding: 10px;
    color: #fff;
}
.service p{
    text-align: center;
    padding: 20px 0;
}
.service a{
    text-decoration: none;
    color: #f7dc6f;
}
.other-service{
    display: flex;
    text-align: center;
    width: 30vw;
    margin: 30px 0 10px 25px;
}
.sub-other{
    margin: 0 40px 10px 10px;
}
.sub-other h2{
    font-size: 1.2rem;
    padding: 10px;
    color: #1c1ca1;
}
.sub-other p{
    font-size: 12px;
}
.sub-other button{
    background: #0fa34fe3;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin: 20px 0;
}
.sub-other button a{
    text-decoration: none;
    color: white;
}
.schedule{
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 10px 30px;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    text-align: center;
    font-family: rob;
}
.schedule h2{
    color: #1c1ca1;
    padding: 20px;
}
.schedule p{
    width: 30vw;
    padding: 20px;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    margin: 10px 0 30px 320px;
    border-radius: 7px;
}
.schedule button{
    width: 200px;
    padding: 5px;
    background: #0fa34fe3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.schedule button:hover{
    background: #f7dc6f;
}
.schedule a{
    text-decoration: none;
    color: white;
}
.contact{
    background: #0fa34fe3;
    height: auto;
    color: #ffffffbb;
    padding: 30px;
}
.contact h3{
    font-size: 1.5rem;
    text-align: center;
    padding: 2px;
}
.contact div{
    display: flex;
}
.contact div a{
    text-decoration: none;
    color: #ffffffbb;
}
.contact div i{
    font-size: 2rem;
    padding: 0 100px 0 0;
}
.contact div span{
    font-size: 0.8rem;
    position: relative;
    left: -143px;
    top: 50px;
    cursor: pointer;
}
.flex-logo{
    margin-left: 190px;
    padding: 30px;
}
.flex-logo .move{
    margin-left: 180px;
}
.container{
    width: 80%;
    margin: 30px auto;
}
.contact-box{
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    display: flex;
}
.contact-left{
    flex-basis: 60%; 
    padding: 20px 40px;
    font-size: 0.6rem;
}
.contact-right{
    padding: 40px; 
    background: #0fa34fe3;
    font-size: 0.8rem;
    color: white;
    border-radius: 0 10px 10px 0;
    z-index: -1;
}
.container h1{
    margin-bottom: 10px;
    color: #1c1ca1;
}
.container p{ 
    margin-bottom: 20px; 
}
form input{
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    padding-top: 10px;
}
textarea{
    width: 100%;
    height: 70px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    font-size: 15px;
    color: rgb(55, 175, 55);
}
form button{
    background: #0fa34fe3;
    width: 150px;
    font-size: 0.8;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 8px rgba(0, 0, 0, 0.281);
}
.contact-left h3{ 
    color: #1c1ca1; 
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1rem;
}
.contact-right h3{
    font-weight: 600; 
    margin-bottom: 30px;
    font-size: 1rem;
}
.contact-right img{
    margin: 50px 0 0 0;
}
.work-hour{
    margin: 10px 0 10px 50px;
}
.work-hour h3{
    color: #1c1ca1;
}
.work-hour button{
    padding: 10px;
    border: none;
    border-radius: 7px;
    background: #0fa34fe3;
    cursor: pointer;
}
.work-hour button a{
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
}
.footer{
    width: 100%;
    height: 15vh;
    background: #0fa34fe3;
    padding: 10px;
    text-align: center;
    color: white;
}
.footer span{
    font-family: rob;
    font-size: 10px;
}
.footer i{
    padding: 3px;
}
.to-top{
    background: #1c1ca1;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.message-sent{
    margin: 50px;
    font-size: 0.8rem;
    box-shadow: 0.5px 0.5px 8px 8px rgba(0, 0, 0, 0.123);
    padding: 40px;
    width: fit-content;
    color: #0fa34fe3;
}
.message-sent p{
    color: #1c1ca1;
    font-size: 0.6rem;
}
@media only screen and (max-width: 900px){
    header{
        padding: 20px;
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li{
        background: #eee;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;
    }
    .slider{
        width: 95%;
        height: 40vh;
        border-radius: 7px;
        margin: 80px 0 15px 10px;
    }
    .slide-one{
        padding: 0;
    }
    .slide-one h2{
        font-size: 1.2rem;
        font-weight: bolder;
        padding: 10px 0 10px 0;
    }
    .slide-one p{
        font-size: 0.8rem;
        padding: 10px 0 10px 0;
    }
    .slide-one button{
        background: #1c1ca1;
        color: white;
        padding: 10px;
        margin-top: -10px;
        border: none;
        border-radius: 10px;
        font-size: 0.8rem;
    }
    .slide-two{
        padding: 0;
    }
    .slide-two h2{
        font-size: 1.2rem;
        font-weight: bolder;
        padding: 10px 0 10px 0;
    }
    .slide-two p{
        font-size: 0.8rem;
        padding: 10px 0 10px 0;
    }
    .slide-two h3{
        font-size: 0.8rem;
        padding: 10px;
    }
    .slide-three{
        padding: 0;
    }
    .slide-three h1{
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 10px 0 10px 0;
    }
    .slide-three p{
        font-size: 0.8rem;
        padding: 10px 0 10px 0;
    }
    .navigation-manual{
        margin-top: -30px;
        margin-left: -50px;
    }
    .navigation-auto{
        margin-top: -175px;
        margin-left: -210px;
    }
    .discover{
        font-size: 1.3rem;
        padding: 10px;
    }
    .partners{
        padding: 20px 0 20px 20px;
    }
    .pat{
        margin-left: 50px;
    }
    .consult{
        margin: 10px 10px;
    }
    .home-group{
        display: block;
    }
    .sub-group{
        width: 50vw;
        margin-left: 60px;
    }
    .coperate{
        height: calc(80vh - 60px);
        padding: 20px;
    }
    .coperate img{
        margin:0 0 0 0;
    }
    .coperate h2{
        font-size: 1.5rem;
    }
    .coperate p{
        font-size: 1rem;
    }
    .coperate button{
        font-size: 1rem;
        width: 50%;
    }
    .about{
        display: block;
    }
    .about img{
        width: 95vw;
        height: 50vh;
        margin: 20px 0px 20px 10px;
    }
    .about .do{
        width: 90vw;
        margin: 10px 0 50px 20px;
        text-align: left;
    }
    .service{
        width: 95%;
        margin: 20px 0 0 10px;
    }
    .service-group{
        display: block;
    }
    .insured-one{
        width: 90vw;
        margin: 40px 0 0 -30px;
    }
    .insured-two{
        width: 90vw;
        margin: 40px 0 0 -30px;
    }
    .insured-three{
        width: 90vw;
        margin: 40px 0 0 -30px;
    }
    .insured-four{
        width: 90vw;
        margin: 40px 0 0 -30px;
    }
    .sub-insured{
        width: 70vw;
    }
    .other-service{
        display: block;
        width: 90vw;
        margin: 30px 0 10px 35px;
    }
    .sub-other{
        margin: 0 40px 10px 10px;
    }
    .schedule{
        margin: 10px 10px;
    }
    .schedule p{
        width: 80vw;
        margin: 10px 0 30px 10px;
    }
    .schedule button{
        width: 150px;
    }
    .contact h3{
        font-size: 1rem;
    }
    .contact div i{
        padding: 0 10px 0 0;
    }
    .contact div span{
        left: -50px;
    }
    .flex-logo{
        margin-left: -20px;
    }
    .flex-logo .move{
        margin-left: 90px;
    }
    .contact-box{
        display: block;
    }
    .contact-right{
        padding: 20px; 
        background: #0fa34fe3;
        font-size: 0.8rem;
        color: white;
        border-radius: 0 10px 10px 0;
        z-index: -1;
    }
    .contact-right{
        border-radius: 0 0 10px 10px;
    }
    .contact-right img{
        margin: 50px 0 0 -15px;
    }
    .to-top{
    background: #1c1ca1;
    position: absolute fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.message-sent{
    width: fit-content;
}
}